*.orig
*~
.*.swp
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
libtool
ltmain.sh
lua/.deps/
lua/.libs/
lua/*.c
lua/*.la
lua/*.lo
lua/*.o
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/config.h.in
src/conky
src/stamp-h1
src/.deps/
src/build.h
src/config.h
src/defconfig.h
src/*.o
src/*.gcda
src/*.gcno
src/*.gcov
conky-*.tar.*
doc/*.html
doc/*.mxml
patches/
doc/conky.1
README
