.DS_Store
*~
.*.swp
Doxyfile
patches/
doc/conky.1
README
build*/
doc/*.html

Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake_uninstall.cmake
CPackConfig.cmake
CPackSourceConfig.cmake

data/convertconf.h
data/defconfig.h
*.so
*.a
/config.h
/build.h

# Compiler cache
.cache

# Ignore (most) vscode stuff
.vscode/*
*.code-workspace
# Allow vscode recommended extensions
!.vscode/extensions.json
.idea/

# Ignore nix stuff
/result

# Ignore direnv
.direnv
