Source: conky
Section: utils
Priority: optional
Maintainer: Jason Tan <jtan325@gmail.com>
Build-Depends: debhelper (>= 4.0.0), libx11-dev
Standards-Version: 3.6.2

Package: conky
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: highly configurable system monitor for X based on torsmo
 Conky is a system monitor for X originally based on the torsmo code.
 Since its original conception, Conky has changed a fair bit from its
 predecessor. Conky can display just about anything, either on your
 root desktop or in its own window. Conky has many built-in objects,
 as well as the ability to execute programs and scripts, then display
 the output from stdout. See http://conky.sf.net for more info.

