[Desktop Entry]
Type=Application
Name=conky
Exec=conky --daemonize --pause=1
StartupNotify=false
Terminal=false
Icon=conky-logomark-violet
Categories=System;Monitor;
