name: Web CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          working-directory: web
          node-version: 18
          cache: npm
      - run: npm ci
        working-directory: web
      - run: npm run lint
        working-directory: web
      - run: npm run build --if-present
        working-directory: web
      - run: npm run e2e:headless
        working-directory: web
