[build]
command = "yarn run build"
publish = ".next"

# Include the doc dir in the build ignore command
ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF . ../doc/"


[[plugins]]
package = "@netlify/plugin-nextjs"

[[plugins]]
package = "netlify-plugin-cypress"

[plugins.inputs.postBuild]
enable = true

[plugins.inputs]
enable = false
